/* ---- */
/* MAIN */
/* ---- */
html, body, #bodyTable, #bodyCell {
    background-color: #f9f9f9;
}
html body #wrapwrap {
    margin-top: 0;
}
.headerCell {
    font-size: 12px;
}

#open_in_browser {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*
    ===========
    pfot header
    ===========
*/
#pfot_header {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    /* fix for older outlooks (cant use height) */
    min-height: 87px;
    max-height: 87px;
}
#pfot_header .contentTable {
    background-color: #d90000;
    color: #eeeeee;
    font-size: 11px;
    line-height:13px;
}
#pfot_header .contentTable a {
    color: #bbbbbb;
}
#pfot_header table.flexibleContainerLeft .imageContent {
    padding: 6px 20px 0 20px;
}
#pfot_header table.flexibleContainerLeft .imageContent img {
    width: 80px;
}
/*#pfot_header table.flexibleContainerLeft .imageContent,*/
#pfot_header table.flexibleContainerRight .textContent {
    padding: 15px 20px;
}


/*
    ====
    body
    ====
*/
#bodyCell {
    padding-top: 0;
    padding-bottom: 0;
}


/*
    ===========
    pfot footer
    ===========
*/
#pfot_footer {
    font-size: 11px;
    line-height: 13px;
    /* Fix for Aplle iOS clients */
    padding-bottom: 60px;
}
#pfot_footer .contentTable a {
    color: #bbbbbb;
}
#pfot_footer .flexibleContainerLeft,
#pfot_footer .flexibleContainerRight {
    width: 50%;
}

#pfot_footer .pfot_footer_social p,
#pfot_footer .pfot_footer_social a {
    font-size: 11px;
    /*line-height: 13px;*/
}
#pfot_footer .pfot_footer_social .flexibleContainer {
    border-top: 1px solid #dddddd;
    background-color: white;
}
#pfot_footer .pfot_footer_social .contentTable .textContent {
    padding-top: 5px;
    padding-bottom: 5px;
}

#pfot_footer .pfot_footer_info {
    padding-top: 20px;
}
#pfot_footer .pfot_footer_info .flexibleContainerLeft .textContent {
    padding-top: 10px;
}
#pfot_footer .pfot_footer_info p,
#pfot_footer .pfot_footer_info a {
    font-size: 11px;
    line-height: 13px;
}


/* ------------------------------- */
/* PFOT SIZING FOR 650 PIXEL WIDTH */
/* ------------------------------- */
#pfot_header_body, #emailBody, #pfot_footer_body {
    width: 650px;
}
#pfot_header_body, #pfot_footer_body {
    margin: 0 auto;
}


/* ---------- */
/* Typography */
/* ---------- */
body, p, td, a, div {
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", Helvetica, Arial, sans-serif;*/
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #5a5a5a;
}
p {
    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;
    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;
    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}
/* Links */
a {
    color: #c41501;
    text-decoration: none;
}
/* Headlines */
.h1, .h2, .h3,
h1, h2, h3 {
    margin-top: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", Helvetica, Arial, sans-serif;*/
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 140%;
    color: #c41501;

    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;

    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;

    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}
.h1, h1 {
    font-size: 26px;
    padding-bottom: 12px;
    font-weight: 700;
}
.h2, h2 {
    font-size: 24px;
    padding-bottom: 12px;
    font-weight: 700;
}
.h3, h3 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 12px;
}
.h4, h4 {
    font-size: 18px;
    font-weight: 300;
}
.h5, h5 {
    font-size: 16px;
    font-weight: 300;
}
.h6, h6 {
    font-size: 14px;
    font-weight: 300;
}

.pfot_title_image {
    margin-bottom: 8px;
}
.pfot_title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
}

blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
    border-left: 5px solid #c41501;
}




