/* ---- */
/* MAIN */
/* ---- */
html, body, #bodyTable, #bodyCell {
    background-color: #f9f9f9;
}
html body #wrapwrap {
    margin-top: 0;
}
.headerCell {
    font-size: 12px;
}

#open_in_browser {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*
    ===========
    pfot header
    ===========
*/
#combinedheadersnippet {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    /* fix for older outlooks (cant use height) */
    min-height: 87px;
    max-height: 87px;
}
#combinedheadersnippet .contentTable {
    /*background-color: white;*/
    /*color: #e50046;*/
    font-size: 11px;
    line-height:13px;
}
#combinedheadersnippet .contentTable a {
    color: #bbbbbb;
}
#combinedheadersnippet table.flexibleContainerLeft .imageContent {
    padding: 6px 20px 0 20px;
}
#combinedheadersnippet table.flexibleContainerLeft .imageContent img {
    width: 80px;
}
/*#combinedheadersnippet table.flexibleContainerLeft .imageContent,*/
#combinedheadersnippet table.flexibleContainerRight .textContent {
    padding: 15px 20px;
}


/*
    ====
    body
    ====
*/
#bodyCell {
    padding-top: 0;
    padding-bottom: 0;
}


/*
    ===========
    pfot footer
    ===========
*/
#combinedsnippetfooter {
    font-size: 11px;
    line-height: 13px;
    /* Fix for Aplle iOS clients */
    padding-bottom: 60px;
}
#combinedsnippetfooter .contentTable a {
    color: #e50046;
}
#combinedsnippetfooter p {
    color: white;
}
#combinedsnippetfooter .flexibleContainerLeft,
#combinedsnippetfooter .flexibleContainerRight {
    width: 50%;
}

#combinedsnippetfooter .pfot_footer_info .flexibleContainerLeft,
#combinedsnippetfooter .pfot_footer_info .flexibleContainerRight {
    width: 290px;
}

#combinedsnippetfooter .pfot_footer_social p,
#combinedsnippetfooter .pfot_footer_social a {
    font-size: 11px;
    /*line-height: 13px;*/
}
#combinedsnippetfooter .pfot_footer_social .flexibleContainer {
    border-top: 1px solid #dddddd;
}
#combinedsnippetfooter .pfot_footer_social .contentTable .textContent {
    padding-top: 5px;
    padding-bottom: 5px;
}

#combinedsnippetfooter .pfot_footer_info {
    padding-top: 0px;
}
.dadi_sb_bg_full .flexibleContainerCell, div.dadi_sb_fg_full .flexibleContainerCell .nestedContainerCell {
    padding-left: 20px;
    padding-right: 20px;
}

#combinedsnippetfooter .pfot_footer_info .flexibleContainerLeft .textContent {
    padding-top: 10px;
}
#combinedsnippetfooter .pfot_footer_info p,
#combinedsnippetfooter .pfot_footer_info a {
    font-size: 11px;
    line-height: 13px;
}


/* ------------------------------- */
/* PFOT SIZING FOR 650 PIXEL WIDTH */
/* ------------------------------- */
#combinedheadersnippet_body, #emailBody, #pfot_footer_body {
    width: 650px;
}
#combinedheadersnippet_body, #pfot_footer_body {
    margin: 0 auto;
}


/* ---------- */
/* Typography */
/* ---------- */
body, p, td, a, div {
    font-family: 'Arial', Arial, 'Trebuchet MS';
    font-size: 17px;
    line-height: 18px;
    color: black;
}
p {
    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;
    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;
    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}
/* Links */
a {
    color: #e50046;
    text-decoration: none;
}
/* Headlines */
.h1, .h2, .h3,
h1, h2, h3 {
    margin-top: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', Helvetica, Arial, sans-serif;
    line-height: 140%;
    color: #e50046;

    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;

    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;

    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}
.h1, h1 {
    font-size: 22px;
    padding-bottom: 12px;
    font-weight: 700;
}
.h2, h2 {
    font-size: 20px;
    padding-bottom: 12px;
    font-weight: 700;
}
.h3, h3 {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 12px;
}
.h4, h4 {
    font-size: 18px;
    font-weight: 300;
}
.h5, h5 {
    font-size: 16px;
    font-weight: 300;
}
.h6, h6 {
    font-size: 14px;
    font-weight: 300;
}

.pfot_title_image {
    margin-bottom: 8px;
}
.pfot_title {
    font-size: 24px;
    font-weight: bold;
    color: #e50046;
    /*margin-top: 12px;*/
}

blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
    border-left: 5px solid #e50046;
}

#combinedsnippetfooter .wmtws img {
    padding-top:40%;
}

