@import url('https://fonts.googleapis.com/css?family=Roboto Slab:400,700|Roboto:400,500&display=swap');
/* Pfot Website Relaunch CSS
 Load this css by adding pfot-relaunch-css in the query string
 e.g.: https://pfot.datadialog.net/?pfot-relaunch-css
 ATTENTION: Add this to the frontend asset at the relaunch day to permanently include and minify the css!
 */
/* BASIC COLOR DEFINITION */
/* Snippet Structure Group */
.snippet_structure_group .snippet_structure_group_inner {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  /* default BG Color for new structure */
  background-color: white;
}
.gso_bgcol_pfotyellow .snippet_structure_group_outer {
  background-color: #e8e8e8;
  color: #222222;
}
.gso_bgcol_pfotgrey .snippet_structure_group_outer {
  background-color: #50646a;
  color: white;
}
.gso_bgcol_pfotblack .snippet_structure_group_outer {
  background-color: #222222;
  color: white;
}
.gso_bgcol_pfotred .snippet_structure_group_outer {
  background-color: #e50046;
  color: white;
}
.gso_bgcol_white .snippet_structure_group_outer {
  background-color: white;
  color: #222222;
}
.gso_fgcol_pfotyellow .snippet_structure_group_inner {
  background-color: #e8e8e8;
  color: #222222;
}
.gso_fgcol_pfotgrey .snippet_structure_group_inner {
  background-color: #50646a;
  color: white;
}
.gso_fgcol_pfotblack .snippet_structure_group_inner {
  background-color: #222222;
  color: white;
}
.gso_fgcol_pfotred .snippet_structure_group_inner {
  background-color: #e50046;
  color: white;
}
.gso_fgcol_white .snippet_structure_group_inner {
  background-color: white;
  color: #222222;
}
/* Snippet Content Group */
/* default BG Color for new structure */
.snippet_content_group .snippet_content_group_inner {
  background-color: white;
  color: #222222;
}
.gso_bgcol_pfotyellow .snippet_content_group_outer {
  background-color: #e8e8e8;
  color: #222222;
}
.gso_bgcol_pfotgrey .snippet_content_group_outer {
  background-color: #50646a;
  color: white;
}
.gso_bgcol_pfotblack .snippet_content_group_outer {
  background-color: #222222;
  color: white;
}
.gso_bgcol_pfotred .snippet_content_group_outer {
  background-color: #e50046;
  color: white;
}
.gso_bgcol_white .snippet_content_group_outer {
  background-color: white;
  color: #222222;
}
.gso_fgcol_pfotyellow .snippet_content_group_inner {
  background-color: #e8e8e8;
  color: #222222;
}
.gso_fgcol_pfotgrey .snippet_content_group_inner {
  background-color: #50646a;
  color: white;
}
.gso_fgcol_pfotblack .snippet_content_group_inner {
  background-color: #222222;
  color: white;
}
.gso_fgcol_pfotred .snippet_content_group_inner {
  background-color: #e50046;
  color: white;
}
.gso_fgcol_white .snippet_content_group_inner {
  background-color: white;
  color: #222222;
}
/* link allgemein */
a {
  color: #50646a;
}
a:active {
  color: #e50046;
}
div.carousel div.carousel-content {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color: #222222;
}
#wrap section > div.container > div > div.col-md-4,
#wrap section > div.container > div > div.col-md-6,
#wrap section > div.container > div > div.col-md-12 {
  background-color: transparent;
}
.img-rounded {
  border-radius: 0px;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:active,
.navbar-nav > .active > a:focus {
  border: none;
}
/*
 #wrap > section > div > div {
   background-color: white;
 }
 */
#footer .container {
  background-color: #222222;
}
#footer > section.mb0.mt0 > div > div > div > div.oe_share a i {
  color: #e8e8e8 !important;
}
/*RESET Website Sale Donate */
#wrap #website_sale_donate section > div.container > div > div.col-md-12 {
  background-color: #e8e8e8;
}
/* Hide Home*/
#top_menu > li:nth-child(1) > a {
  display: none;
}
#top_menu > li:nth-child(9) > a {
  color: #e50046;
}
/* NEW DESIGN END */
/* Buttons */
.my_cart_quantity.label.label-primary {
  background-color: #50646a;
}
.btn-link {
  color: white;
}
.btn-default {
  background-color: #50646a;
  border-color: #50646a;
  color: white;
}
a.btn-default:hover {
  background-color: #50646a;
  border-color: #50646a;
  color: #e8e8e8;
}
.btn-primary {
  background-color: #50646a;
  border-color: #50646a;
  color: white;
}
#website_cookie_notice .btn-primary {
  background-color: #50646a;
  border-color: #50646a;
  color: white;
}
#website_cookie_notice a.btn.btn-primary:hover {
  background-color: #50646a;
  border-color: #50646a;
  color: #e8e8e8;
}
main a.btn.btn-primary:hover {
  background-color: #50646a;
  border-color: #50646a;
  color: #e8e8e8;
}
/* shop category overview */
#products_grid_before .nav-pills > li.active > a {
  color: white;
  background-color: #50646a;
}
#products_grid_before .nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #e8e8e8;
  background-color: #50646a;
}
/* Pagination */
.pagination > .active > a,
.pagination > .active > span {
  color: white;
  background-color: #50646a;
  border-color: #50646a;
}
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #e8e8e8;
  background-color: #50646a;
  border-color: #50646a;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #e8e8e8;
  background-color: #50646a;
  border-color: #50646a;
}
/* HEADER */
#wrapwrap .navbar-default {
  background-color: white;
}
#wrapwrap .navbar-static-top,
#wrapwrap .navbar-static-bottom {
  background-color: white;
}
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #222222;
}
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #50646a;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "HernandezNiu", Arial;
  font-weight: bold;
}
h4,
h2 {
  color: #e50046;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}
body {
  font-size: 16px;
}
p {
  font-size: 16px;
}
h4.payment_interval_ids {
  text-align: center;
  font-size: 18px;
}
header .navbar-default .navbar-nav > .active > a {
  color: #50646a;
}
header .navbar-default .navbar-nav > li > a {
  color: #222222;
}
.navbar-nav > li > a {
  border: 0px solid transparent;
  border-radius: 0px;
  font-weight: bold;
}
/*
 header .navbar-nav>li>a:visited {
   color: @pfot_black;
   border-color: @pfot_black;
 }*/
#wrapwrap > footer > div.container.mt16.mb8 > div.pull-right > a.label.label-danger {
  background-color: #222222;
}
header .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover:visited,
.navbar-default .navbar-nav > li > a:focus .navbar-default {
  color: #222222;
  border-color: none;
  border: none;
}
header .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #222222;
  border-color: none;
  border: none;
}
header .dropdown-menu .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #222222;
}
header .dropdown-menu {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0px;
}
header .dropdown-menu > li > a {
  color: #222222;
}
header .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #222222;
}
header .dropdown-menu > li > a:hover,
header .dropdown-menu > li > a:focus {
  color: #50646a;
}
/* ---- CONTENT BODY ---- */
body {
  font-family: NoyhGeometric, Arial, 'Trebuchet MS';
  /*
   background-color: @pfot_bg_yellow;
   */
  background-color: #e8e8e8;
}
.navbar {
  font-family: "HernandezNiu", Arial;
  font-weight: 700;
  font-size: 19px;
}
/* HEADER */
#wrapwrap .navbar-default {
  background-color: white;
}
#wrapwrap .navbar-static-top,
#wrapwrap .navbar-static-bottom {
  background-color: white;
}
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #222222;
}
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #50646a;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "HernandezNiu", Arial;
  font-weight: bold;
}
h4,
h2 {
  color: #e50046;
}
header .navbar-default .navbar-nav > .active > a {
  color: #50646a;
}
header .navbar-default .navbar-nav > li > a {
  color: #222222;
}
.navbar-nav > li > a {
  border: 0px solid transparent;
  border-radius: 0px;
  font-weight: bold;
}
/*
 header .navbar-nav>li>a:visited {
   color: @pfot_black;
   border-color: @pfot_black;
 }*/
#wrapwrap > footer > div.container.mt16.mb8 > div.pull-right > a.label.label-danger {
  background-color: #222222;
}
header .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover:visited,
.navbar-default .navbar-nav > li > a:focus .navbar-default {
  color: #222222;
  border-color: none;
  border: none;
}
header .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #222222;
  border-color: none;
  border: none;
}
header .dropdown-menu .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #222222;
}
header .dropdown-menu {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0px;
}
header .dropdown-menu > li > a {
  color: #222222;
}
header .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #222222;
}
header .dropdown-menu > li > a:hover,
header .dropdown-menu > li > a:focus {
  color: #50646a;
}
/* --------------- */
/* footer */
/* --------------- */
#wrapwrap > footer > div.container.mt16.mb8 > div.pull-right > a.label.label-danger {
  background-color: #222222;
}
/* ---- CONTENT FOOTER ---- */
footer {
  color: white !important;
  background-color: #222222;
}
footer a {
  color: #e50046 !important;
}
footer a:hover {
  color: #e50046 !important;
}
footer h4 span {
  color: #e50046 !important;
}
footer h4 {
  color: #e50046 !important;
}
footer span {
  color: white !important;
}
footer section .container > div div.col-md-4 {
  background-color: #222222;
}
/* Form Controls */
.form-control:focus {
  border-color: #e50046;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(229, 0, 70, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(229, 0, 70, 0.6);
}
.price_donate .form-control {
  color: #50646a;
}
/* correction of new class btn_primary at the price_donate input field */
#price_donate.btn-primary:active,
#price_donate.btn-primary:focus,
#price_donate.btn-primary:hover {
  background-color: #50646a;
  color: white;
}
#price_donate.btn-primary {
  background-color: white;
  color: #50646a;
}
/* Spendenbox SBS */
h2,
h4.payment_interval_ids {
  color: #222222;
}
.btn-primary,
.btn,
.btn-xl,
.a-submit {
  border-radius: 0px;
}
.btn-lg,
.btn-group-lg > .btn {
  border-radius: 0px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-raidus: 0px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-radius: 0px;
}
.arbitrary_price.form-inline .input-group.input-group-lg {
  padding-top: 10px;
}
/* Checkout Form */
.form-control {
  border-radius: 0px;
}
.nav-tabs > li > a {
  border-radius: 0px;
}
#aq4 > div:nth-child(6) {
  display: none;
}
#payment_method .tab-content .tab-pane {
  padding: 8px;
}
.ppt_opc .row.one-page-checkout.ppt_opc-checkout #product_detail {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
/* website.css */
.btn-pfotenhilfe:hover,
.btn-pfotenhilfe:focus,
.btn-pfotenhilfe:active,
.btn-pfotenhilfe.active,
.open .dropdown-toggle.btn-pfotenhilfe {
  background-color: #e50046;
}
/* ---- SNIPPETS --- */
/* Background */
.pfoh_yellow {
  background: #e8e8e8;
}
.pfoh_red_box h1,
.pfoh_red h2,
.pfoh_red h3,
.pfoh_red h4,
.pfoh_red h5,
.pfoh_red h6 {
  color: #e8e8e8;
}
.pfoh_yellow_box {
  background-color: #e8e8e8;
}
/* Blog */
.blog_title h1,
.blog_title .h1 {
  color: white;
}
.blog_title h2,
.blog_title .h2 {
  color: #e50046;
}
@media (max-width: 768px) {
  header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #222222;
  }
  header .navbar-default .navbar-nav .open .dropdown-menu > li:hover {
    color: #50646a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #50646a;
  }
}
