@import url('https://fonts.googleapis.com/css?family=Roboto Slab:400,700|Roboto:400,500&display=swap');
/* Pfot Website Relaunch CSS
 Load this css by adding pfot-relaunch-css in the query string
 e.g.: https://care.datadialog.net/?pfot-relaunch-css
 ATTENTION: Add this to the frontend asset at the relaunch day to permanently include and minify the css!
 */
#wrapwrap .navbar-default {
  background-color: white;
}
#wrapwrap .navbar-static-top,
#wrapwrap .navbar-static-bottom {
  background-color: white;
}
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: black;
}
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#wrapwrap .navbar-static-top header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
#wrapwrap .navbar-static-bottom header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #413839;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "HernandezNiu", Arial;
  font-weight: bold;
}
h4,
h2 {
  color: #e50046;
}
header .navbar-default .navbar-nav > .active > a {
  color: darkgrey;
}
header .navbar-default .navbar-nav > li > a {
  color: Black;
}
.navbar-nav > li > a {
  border: 0px solid transparent;
  border-radius: 0px;
  font-weight: bold;
}
/*
 header .navbar-nav>li>a:visited {
   color: black;
   border-color: black;
 }*/
#wrapwrap > footer > div.container.mt16.mb8 > div.pull-right > a.label.label-danger {
  background-color: black;
}
header .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover:visited,
.navbar-default .navbar-nav > li > a:focus .navbar-default {
  color: black;
  border-color: none;
  border: none;
}
header .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: Black;
  border-color: none;
  border: none;
}
header .dropdown-menu .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: black;
}
header .dropdown-menu {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0px;
}
header .dropdown-menu > li > a {
  color: black;
}
header .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: black;
}
header .dropdown-menu > li > a:hover,
header .dropdown-menu > li > a:focus {
  color: darkgrey;
}
/* ---- CONTENT BODY ---- */
body {
  font-family: NoyhGeometric, Arial, 'Trebuchet MS';
  background-color: #ffdf43;
}
.navbar {
  font-family: "HernandezNiu", Arial;
  font-weight: 700;
  font-size: 19px;
}
/* --------- NEW DESIGN ----------------------- */
/* --------- Snippet Design Workaround weil keine Expliziete zusätzliche Box da ist um den Forground zu setzen --------- */
/*Setze die Background Farbe hier für 3er 2er und gesamtblöcke */
#wrap section > div.container > div > div.col-md-4,
#wrap section > div.container > div > div.col-md-6,
#wrap section > div.container > div > div.col-md-12 {
  background-color: white;
}
/*#wrap > section > div > div.row {
   background-color: white;
 }*/
/* resets nur für den 3er block wegen dem Abstand */
/*.container {
   background-color: white;
 }*/
#wrap section > div.container > div > div.col-md-4 {
  /*
 body section .container > div div.col-md-4 {
 */
  /* einfügen Abstand ausserhalb der Box damit der Background nicht drüber geht */
  margin-left: 8px;
  margin-right: 8px;
  /* reset padding innerhalb der box*/
  padding-left: initial;
  padding-right: initial;
}
#wrap section > div.container > div > div.col-md-4 p,
#wrap section > div.container > div > div.col-md-4 h4 {
  padding-left: 8px;
  padding-right: 8px;
}
/* Korrektur des Sprungs weil das Margin drüber die gesamtbreite geändert hat*/
#wrap section > div.container > div > div.col-md-4 {
  width: 30.5%;
}
/* Reset wieder für Mobile */
@media (max-width: 400px) {
  #wrap section > div.container > div > div.col-md-4 {
    width: 100%;
  }
}
/*
 #wrap > section > div > div > div.col-md-4:nth-child(2) {
   margin-left: 5px;
   margin-right: 5px;
 }*/
div.carousel div.carousel-content {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
/*#wrap > section > div > div.row {
   background-color: white;
 }*/
/*
 .carousel-inner .container .row {
       position: absolute;
 }
 .carousel-inner .container .row .carousel-content {
   bottom: 0;
   width: auto;
 }*/
/*
 body section > div > div > div > a,
 body section > div > div > div > p {
   padding-left: 5px;
   padding-right: 5px;
 }
 */
.img-rounded {
  border-radius: 0px;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:active,
.navbar-nav > .active > a:focus {
  border: none;
}
/*
 #wrap > section > div > div {
   background-color: white;
 }
 */
#footer .container {
  background-color: black;
}
#footer > section.mb0.mt0 > div > div > div > div.oe_share a i {
  color: #ffdf43 !important;
}
/*RESET Website Sale Donate */
#wrap #website_sale_donate section > div.container > div > div.col-md-12 {
  background-color: #ffdf43;
}
/* Hide Home*/
#top_menu > li:nth-child(1) > a {
  display: none;
}
#top_menu > li:nth-child(9) > a {
  color: #e50046;
}
/* NEW DESIGN END */
/* ---- CONTENT FOOTER ---- */
footer {
  color: white !important;
  background-color: black;
}
footer a {
  color: #e50046 !important;
}
footer a:hover {
  color: #e50046 !important;
}
footer h4 span {
  color: #e50046 !important;
}
footer h4 {
  color: #e50046 !important;
}
footer span {
  color: white !important;
}
footer section .container > div div.col-md-4 {
  background-color: black;
}
.btn-primary,
.btn,
.btn-xl,
.a-submit {
  border-radius: 0px;
}
.btn-lg,
.btn-group-lg > .btn {
  border-radius: 0px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-raidus: 0px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-radius: 0px;
}
.arbitrary_price.form-inline .input-group.input-group-lg {
  padding-top: 10px;
}
/* Checkout Form */
.form-control {
  border-radius: 0px;
}
.nav-tabs > li > a {
  border-radius: 0px;
}
#aq4 > div:nth-child(6) {
  display: none;
}
#payment_method .tab-content .tab-pane {
  padding: 8px;
}
.ppt_opc .row.one-page-checkout.ppt_opc-checkout #product_detail {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
/* website.css */
.btn-pfotenhilfe:hover,
.btn-pfotenhilfe:focus,
.btn-pfotenhilfe:active,
.btn-pfotenhilfe.active,
.open .dropdown-toggle.btn-pfotenhilfe {
  background-color: #e50046;
}
/* ---- SNIPPETS --- */
/* Background */
.pfoh_yellow {
  background: #ffdf43;
}
.pfoh_red_box h1,
.pfoh_red h2,
.pfoh_red h3,
.pfoh_red h4,
.pfoh_red h5,
.pfoh_red h6 {
  color: #ffdf43;
}
.pfoh_yellow_box {
  background-color: #ffdf43;
}
